{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}
<script src="https://button.getpip.com/cdn/pipbutton.js"></script>

<div class="pip-button"
data-amount="1"
data-chainNetwork="SOLANA"
data-currency="SOL"
data-label="Donation "
data-useLabel="true"
data-receiver="8gkNdxEVtyRBiYTZUSNusdfeY8Uqo3z7fQZtGhMj4a6C"
data-buttonColor="#1149FF"
data-buttonTextColor="#FFFFFF">
</div>
